body {
	background-image: url("http://content.rustinandmallory.netdna-cdn.com/u/751/ANTHRO-PLAYSUIT-BLUSH-20859D__78785_std.jpg");
}

img {
	position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    width: 900px;
}

p {
	position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%);
    font-family: Impact, Charcoal, sans-serif;
    font-size: 60px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 70px;
    text-align: center;
    background-color:black;
    color:red;

}